@page "/admin/News"
@inherits NewsPageBase

<h3>NewsPage</h3>

<button class="btn btn-primary" @onclick="@Add">Dodaj Newsa</button>


@if (_showAdd && Items != null && Model != null)
{
    <div class="contaier">

        <div class="row">
            <div class="col">


                <EditForm Model="Model" OnValidSubmit="@ValidSubmit">

                    <input type="text" class="form-control" placeholder="Tytuł" @bind="Model.Title">
                    <input type="datetime" class="form-control" placeholder="Data wpisu" @bind="Model.Date">

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" @bind="Model.Content"></textarea>

                    <select class="form-control" @bind="Model.AppUser.Id">
                        <option value="0"></option>
                        @foreach (var item in AppUsers)
                        {
                            <option value="@item.Id">
                                @item.NickName
                            </option>
                        }
                    </select>

                    <button class="btn btn-primary" type="button">Anuluj</button>
                    <button class="btn btn-secondary" type="submit">Zapisz</button>

                </EditForm>
                @testID
            </div>
        </div>
    </div>
}