@page "/Admin/Dictionaries"
@attribute     [Authorize(Roles = "Admin")]


<h3>Słowniki</h3>
<AdminContactTypeComponent/>
<AdminRankComponent/>
<AdminBloodComponent/>
<AdminGamesGroupComponent/>


@code {



}