@inject NavigationManager NavigationManager

<div>
    <ul class="nav ">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Gallery">
                <span class="oi oi-plus" aria-hidden="true"></span> Galeria
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Team">
                <span class="oi oi-plus" aria-hidden="true"></span> Zespół
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Recruitmant">
                <span class="oi oi-plus" aria-hidden="true"></span> Rekrutacja
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Forum">
                <span class="oi oi-plus" aria-hidden="true"></span> Forum
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="History">
                <span class="oi oi-plus" aria-hidden="true"></span> Nasza historia
            </NavLink>
        </li>

        @foreach (var link in links)
        {
            <li class="nav-item px-3">
                <button class="nav-link" @onclick="@(() => { GoTo(link); })">
                    <span class="oi oi-plus" aria-hidden="true"></span> @link
                </button>
            </li>
        }


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="oi oi-plus" aria-hidden="true"></span> Admin
            </NavLink>
        </li>

    </ul>
</div>

@code{


    List<string> links = new List<string>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        links.Add("s1");
        links.Add("s2");
        links.Add("s3");
    }

    void GoTo(string link)
    {
        var uri = $"CMS\\{link}";
        NavigationManager.NavigateTo(uri);
    }

}