@inherits LayoutComponentBase
@layout MainLayout


<div class="d-flex flex-row-reverse ">
    <div class="sidebar w-25">
        dupa
    </div>

    <div class="center w-100">
        @Body
    </div>

    <div class="sidebar w-25">
        dupa
    </div>
</div>

