@inherits LayoutComponentBase
@layout MainLayout


<div class="d-flex flex-row-reverse">
    <div class="sidebar w-25 border">

    </div>

    <div class="center w-100 border">
        @Body
    </div>
</div>

