@page "/"
@page "/{isQuest:bool}"
@inject NavigationManager NavigationManager


<h3>Home</h3>

<NewsComponent/>


@if (userState != null)
{
    <p> @userState.User.Identity.Name </p>

    @foreach (var item in userState.User.Claims)
    {
        <p> @item.Type</p>
        <p> @item.Value</p>
    }
}

@code{

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }
    private AuthenticationState userState;

    [Parameter]
    public bool isQuest { get; set; }

    // return base.OnInitializedAsync();
    protected override async Task OnInitializedAsync()
    {
        userState = await _authState;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (userState.User.Identity.IsAuthenticated == false && isQuest == false)
        {
            NavigationManager.NavigateTo("/splash");
        }
    }


}


