@inherits LayoutComponentBase
@* @inject IBootstrapCss BootstrapCss *@


<div class="d-flex flex-column container-fluid">

    <div class="header w-100 d-flex justify-content-between border">
        <div >
            <NavMenu/>
        </div>
        <div>
            <LoginDisplay/>
        </div>
    </div>

    <div class="main">
        @Body
    </div>

    <div class="footer border">
        <FooterComponent/>
    </div>

</div>

@* @code { *@
@*     private bool hasBeendone = false; *@
@* *@
@*     protected override async Task OnAfterRenderAsync(bool firstRender) *@
@*     { *@
@*     // return base.OnAfterRenderAsync(firstRender); *@
@* *@
@*         if (!hasBeendone) *@
@*         { *@
@*             await BootstrapCss.SetBootstrapCss(Theme.Sketchy, "4.3.1"); *@
@*             hasBeendone = true; *@
@*         } *@
@*     } *@
@* *@
@* *@
@* } *@