@inherits LayoutComponentBase
@layout MainLayout


<div class="d-flex flex-row">
    <div class="sidebar w-25">
        <NavMenu/>
    </div>

    <div class="center w-100">
        @Body
    </div>
</div>

